body {
    background-image: url(login.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    height: 100%;
  }
  
  .container {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    margin: 100px auto;
    padding: 40px;
    width: 400px;
  }
  
  .header {
    text-align: center;
    margin-bottom: 50px;
  }
  
  .header h1 {
    color: #333;
    font-size: 36px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 15px;
    padding: 10px;
    width: 100%;
  }
  
  input[type="submit"] {
    background-color: #333;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
  }
  
  input[type="submit"]:hover {
    background-color: #444;
  }  
  input[type="button"] {
    background-color: #333;
    border: 0;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 20px;
    width: 100%;
  }
  
  input[type="button"]:hover {
    background-color: #444;
  }  
  #message {
    display:none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
  }
  
  #message p {
    padding: 10px 35px;
    font-size: 18px;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -35px;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -35px;
    content: "✖";
  }
  
  